body {
    background-color: #222;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

audio {
     display: none;
}

.sound-btn {
    padding: 3,5rem 8rem;
    border-radius: 1.5rem;
    font-size: 3rem;;
    color :#fff;
    font-weight: 800;
    background-color: red;
    cursor: pointer;
}











