body {
    background-color: #222;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

audio {
     display: none;
}

.sound-btn {
     width: 250px;
            height: 250px;
            border-radius: 50%;
            background-image: url('https://image.made-in-china.com/201f0j10wdvVaCMJNOcB/Manufacturer-Factory-Direct-Sale-of-Best-Price-ASTM-DIN-En-JIS-ISO-SGS-317L-430-443-Customized-Polishing-Welded-Pipe-Stainless-Steel-Tube-Price-Per-Piece.jpg');
            background-size: cover;
            border: none;
            cursor: pointer;
            outline: none;
}
 .bottom-text{
    position: absolute;
    margin-top: 90vh;
     font-size: 2rem;
     color: #fff;
}
.text1{
    position: relative;
    bottom:27rem

}

.text2{
     margin-left: 32rem;
     font-size: 80%

}










